html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html, body, div
{
  margin: 0;
  padding: 0;
}

#bilder
{
  position: absolute;
  top: 50%;
}
	
.svar
{
  position: absolute;
  top: 10%;
  width: 175px;
  height: 150px;
  outline: 2px dashed black;
}	
      
#svar1
{
  left: 4%;
}	

#svar2
{
left: 24%;
}	  
	  
#svar3
{
  left: 44%;
}	  

#svar4
{
  left: 64%;
}	 
	  
#svar5
{
  left: 84%;
}

input
{
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 75px;
  height: 50px;
}
	  
	  